:root {
    --height: calc(100vh - 50px);
}

button {
    padding: 10px;

    background-color: rgb(71, 119, 239);

    color: white;

    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(61, 95, 209);
}

#preview {
    width: 100%;
    /* height: var(--height); */
    background-color: lightgray;
    overflow: hidden;
}
#container {
    display: flex;
}

#editor-container {
    border-right: 1px solid black;
    min-height: var(--height);
}

#editor,
#costume-editor,
#sound-editor {
    width: 100%;
    height: calc(var(--height) - 0px);
    /* border-right: 1px solid black; */
}

#costume-editor, #sound-editor {
    overflow: scroll;
}

.cm-editor {
    height: 100%;
}

.cm-completionInfo:not(:has(svg)) {
    display: none !important;
}

.cm-completionInfo {
    padding: 0px;
}

#sprites {
    display: flex;
    flex-wrap: wrap;
}

.sprite {
    display: flex;

    margin-right: 5px;
    margin-bottom: 5px;

    background-color: rgb(170, 207, 247);
    border-radius: 5px;
}

.sprite.selected {
    background-color: rgb(71, 119, 239);
    color: white;
}

.sprite p {
    margin: 5px;
    padding: 2px;
}

.sprite p:hover {
    background-color: rgb(123, 168, 234);
    border-radius: 5px;
}

.sprite.selected p:hover {
    background-color: rgb(61, 95, 209);
}

#buttons {
    margin-left: 15px;
    flex-shrink: 0;
}

#title {
    height: 40px;
    display: flex;

    margin-bottom: 5px;
    padding: 10px;

    background-color: rgb(9, 63, 163);
}

#title img {
    height: 40px;
}

.btn:hover {
    filter: brightness(80%);
}

a:has(button[id="documentation-button"]) {
    margin-left: auto;
}

#editor-loading-spinner {
    margin: 50px auto auto auto;
    color: navy;
    width: 50%;
}

.header-btn {
    margin-left: 5px;
}

a:has(button.header-btn.left) {
    margin-left: auto;
}

pre[class="blocks"] {
    margin: 2px;
    padding: 0px;
}

#container hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}

#editor-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#costume-list,
#costume-list td {
    border: 1px solid black;
}

#sound-list,
#sound-list td {
    border: 1px solid black;
}

.name-box-costume,
.name-box-sound {
    max-width: 50%;
    overflow: hidden;
    padding: 5px;
}

#sprite-table,
#sprite-table td {
    border: 1px solid black;
}

#sprite-container {
    /* margin: 5px; */
    overflow-y: scroll;
    height: calc(100vh - 40px - 360px - 20px); /*page height - menu bar - stage - margin*/
    border-top: 1px solid black;
    padding: 5px 0px 0px 5px;
    margin: 390px 0px 0px 0px;
}

#sprite-table .sprite-item {
    padding: 5px;
    transition: 0.25s;
}

#sprite-table .sprite-item.selected {
    background-color: #d8e7ff;
    transition: 0.25s;
}

#sprite-table {
    margin-top: 45px;
}

#new-sprite-button {
    /* margin-top: 5px; */
    margin-bottom: 10px;
    /* position: fixed; */
}

#turbo-mode-text {
    font-size: 0.7rem;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: hsl(37.8, 67%, 40.4%);
    white-space: nowrap;
    vertical-align: middle;
}

#turbo-mode-img {
    vertical-align: middle;
}

#turbo-mode-container {
    height: 75%;
    margin-bottom: 3px;
}

#clone-counter {
    font-size: small;
}

button.b::before {
    content: "+";
    margin-right: 2px;
}

#selected-sprite {
    margin-left: 5px;
    display: inline-block;
    white-space: pre;
    width: 0px;
}

body {
    overflow: hidden;
}

button.b.add {
    position: fixed;
    bottom: 5px;
    left: 5px;
}